POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=analytic_flow
POSTGRES_PORT=5432
STORAGE_DIR=/app/storage

DATABASE_URL=postgresql://postgres:postgres_password@postgres-db:5432/analytic_flow